
<!DOCTYPE html>
<html lang="en">
  <head>
  	{% load staticfiles %}

    <meta charset="utf-8">
    <title>Swahili Subject-Verb Agreement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="img/favicon.ico">

    <link rel="stylesheet" href="{% static 'lessons/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'lessons/css/bootswatch.css' %}">
    <link rel="stylesheet" href="{% static 'lessons/css/style.css' %}">   

    <script src="{% static 'lessons/js/jquery.js' %}" charset="utf-8"></script>
       

    <script>            
    	var sentence = {{sentence|safe}};
    	var updateRequest;

    	var sentencePartToDictionaryKeys = {
    		"obj": ["obj"],
    		"subject": ["subject"],
    		"vr": ["verb", "vr"],
    		"tm": ["verb", "tm"],
    		"sp": ["verb", "sp"],
    	};    	

    	//reverses the keys and values in the dictionary, assuming that values are unique
    	function reverseDictionary(dictionary) {
    		var reversed = {};
    		for (var key in dictionary) {
			  if (dictionary.hasOwnProperty(key)) {
			    var value = String(dictionary[key]);
			    reversed[value] = key;
			  }
			}

			return reversed;
    	}

    	//assigns the value value to the dictionary path keyPath in obj
    	function assign(obj, keyPath, value) {
		   lastKeyIndex = keyPath.length-1;
		   for (var i = 0; i < lastKeyIndex; ++ i) {
		     key = keyPath[i];
		     if (!(key in obj))
		       obj[key] = {}
		     obj = obj[key];
		   }
		   obj[keyPath[lastKeyIndex]] = value;
		}

		//gets the value from the dictionary path keyPath in obj
		function getValue(obj, keyPath) {
		   lastKeyIndex = keyPath.length-1;
		   for (var i = 0; i < lastKeyIndex; ++ i) {
		     key = keyPath[i];
		     if (!(key in obj))
		       obj[key] = {}
		     obj = obj[key];
		   }
		   return obj[keyPath[lastKeyIndex]];
		}

    	var dictionaryKeysToSentencePart = reverseDictionary(sentencePartToDictionaryKeys);

    	//sentences are of the format
    	//{"verb":{"vr":"penda","tm":"na","op":"","sp":"m"},"obj":"gari","subject":"Ninyi"}
    	function getCurrentSentenceDictionary(element) {
    		var dictionary = {};

    		/**
    		dictionary['obj'] = $("#object").val();
    		dictionary['subject'] = $("#subject").val();

    		dictionary['verb'] = {};
    		dictionary['verb']['vr'] = $("#verb-root").val();
    		dictionary['verb']['tm'] = $("#tense").val();
    		dictionary['verb']['sp'] = $("#subject-prefix").val();
    		*/

    		for (var key in sentencePartToDictionaryKeys) {
			  if (sentencePartToDictionaryKeys.hasOwnProperty(key)) {
			    var dictionary_path = sentencePartToDictionaryKeys[key];

			    var sentence_value = $(element).find("." + key).val()
				
				assign(dictionary, dictionary_path, sentence_value)			   
			  }
			}


    		return dictionary;
    	}

    	function setCurrentSentenceValues(dictionary, element) {
    		for (var key in dictionaryKeysToSentencePart) {
			  if (dictionaryKeysToSentencePart.hasOwnProperty(key)) {

			  	//the key is a path within the dictionary
			    var dictionary_path = key.split(",");

			    //the value is the name of an HTML object
			    var sentence_id = dictionaryKeysToSentencePart[key];
				
				var sentence_value = getValue(dictionary, dictionary_path);

				$(element).find("." + sentence_id).val(sentence_value);
			  }
			}
    	}

    	function getRandomSentence(element) {
    		$.ajax({
				type: "POST",
				url: "/randomsentence/",
				data: {},
				complete: function( response ) {
					console.log(response);		

					var updatedSentence = JSON.parse(response['responseText'])['sentence'];		

					setCurrentSentenceValues(updatedSentence, element);
				}
			});
    	}

    	$(document).ready(function() {
    		setCurrentSentenceValues(sentence, "#sentence1");

    		$.ajaxSetup({
				data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
			});

    		//whenever we change a sentence component, 
    		//we want to send the new sentence dictionary 
    		//as well as the name of the recently changed component

    		$("body").on("change", ".component", function() {
    			var recentlyChanged = $(this).data("name");
    			var currentSentenceHolder = $(this).closest(".sentenceHolder");

    			var currentSentence = getCurrentSentenceDictionary(currentSentenceHolder);

    			var params = {};
    			params['changed'] = JSON.stringify(recentlyChanged);
    			params['sentence'] = JSON.stringify(currentSentence);

    			$.ajax({
					type: "POST",
					url: "/lessonchange/",
					data: params,
					complete: function( response ) {
						console.log(response);		

						var updatedSentence = JSON.parse(response['responseText'])['sentence'];

						console.log(updatedSentence);

						setCurrentSentenceValues(updatedSentence, currentSentenceHolder);				
					}
				});
    		});

    		$("body").on("click", ".delete", function() {
    			if(confirm("Are you sure you want to delete this sentence?")) {
    				$(this).closest(".sentenceHolder").remove();
    			};
    		})

    		$("body").on("click", ".refresh", function() {
    			getRandomSentence($(this).closest(".sentenceHolder"));
    		})

    		$("#addNewSentence").on("click", function() {
    			var sentenceRow = $($(".sentenceHolder")[0]).clone();

    			$("#sentences").append(sentenceRow);

    			getRandomSentence(sentenceRow);
    		})

    		$("#exerciseOptions input").on("click", function() {
    			var exerciseOption = $("input[name=exerciseRadios]:checked").val();
    			var blankSpace = '<div style="position:absolute;top:0;left:0;width:100%;height:100%;background-color:#ffffff;border-bottom:solid 2px black;" class="blankSpace"></div>';

    			console.log(exerciseOption);

    			//starts by showing all components
    			//$(".component").css("visibility", "visible");
    			//$(".blankSpace").remove();
    			$(".componentHolder").css("border-bottom", "none");

    			if(exerciseOption != "none") {
    				var matchingOptions = $("."+exerciseOption);
    				for(var i=0, length=matchingOptions.length; i<length; i++) {
    					//$(matchingOptions[i]).closest(".componentHolder").append(blankSpace);
    					$(matchingOptions[i]).closest(".componentHolder").css("border-bottom", "solid 2px rgb(33,150,233)")
    				}
    			}
    		})
    	})
    </script>

  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Interactive Swahili Grammar</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Nithin Tumma and Neel Patel</a></li>
          </ul>

        </div>
      </div>
    </div>

    <div class="container-fluid" id="body-container">
    	<div class="row">
		    <div id="settings" class="col-md-2">		    	

		    	<h4>Generate exercises for:</h4>
		    	<div id="exerciseOptions">
					<div class="radio">
					  <label>
					    <input type="radio" name="exerciseRadios" id="exerciseNone" value="none">
					    None
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="exerciseRadios" id="exerciseSubject" value="subject">
					    Subject
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="exerciseRadios" id="exercisePrefix" value="sp">
					    Subject prefix
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="exerciseRadios" id="exerciseTense" value="tm">
					    Tense
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="exerciseRadios" id="exerciseRoot" value="vr">
					    Verb root
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="exerciseRadios" id="exerciseObject" value="obj">
					    Object
					  </label>
					</div>
				</div>
				
		    </div>
		    <div id="interactive" class="col-md-10">
		    	<div id="sentences">
					<div class="sentenceHolder" id="sentence1">
						<div class="row">
							<div class="col-md-10">
								<div class="componentHolder">
							      <select class="form-control component subject" data-name="subject">
							      	{%for subject in all_sentences.subjects%}
							      		<option value="{{subject}}">{{subject}}</option>        
							      	{%endfor%}
							      </select>
							    </div>

						      <div class="space"></div>

						      	<div class="componentHolder">
							      <select class="form-control component sp" data-name="sp">
							        {%for sp in all_sentences.verbs.sps%}
							      		<option value="{{sp}}">{{sp}}</option>        
							      	{%endfor%}
							      </select>
							    </div>

							    <div class="componentHolder">
							      <select class="form-control component tm" data-name="tm">
							        {%for tm in all_sentences.verbs.tms%}
							      		<option value="{{tm}}">{{tm}}</option>        
							      	{%endfor%}
							      </select>
							    </div>

							    <div class="componentHolder">
							      <select class="form-control component vr" data-name="vr">
							        {%for vr in all_sentences.verbs.vrs%}
							      		<option value="{{vr}}">{{vr}}</option>        
							      	{%endfor%}
							      </select>
							    </div>

						      <div class="space"></div>

						      	<div class="componentHolder">
							      <select class="form-control component obj" data-name="obj">    
							      	{%for object in all_sentences.objs%}
							      		<option value="{{object}}">{{object}}</option>        
							      	{%endfor%}    
							      </select>
							    </div>
						    </div>
						    <div class="col-md-1">
						    	<button type="button" class="btn btn-primary btn-block refresh">Refresh</button>
						    </div>
						    <div class="col-md-1">
						    	<button type="button" class="btn btn-danger btn-block delete">Delete</button>
						    </div>
						</div>		
				    </div> 
				</div>
				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-6">
					<button type="button" class="btn btn-success btn-block" id="addNewSentence">Add New Sentence</button>
					</div>
					<div class="col-md-3">
					</div>
				</div>   
			</div>	 
		</div>   
	</div>
  </body>
</html>
