
<!DOCTYPE html>
<html lang="en">
  <head>
  	{% load staticfiles %}

    <meta charset="utf-8">
    <title>Swahili Subject-Verb Agreement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="img/favicon.ico">

    <link rel="stylesheet" href="{% static 'lessons/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'lessons/css/bootswatch.css' %}">
    <link rel="stylesheet" href="{% static 'lessons/css/style.css' %}">   

    <script src="{% static 'lessons/js/jquery.js' %}" charset="utf-8"></script>
       

    <script>            
    	var sentence = {{sentence|safe}};
    	var updateRequest;

    	var sentencePartToDictionaryKeys = {
    		"obj": ["obj"],
    		"subject": ["subject"],
    		"vr": ["verb", "vr"],
    		"tm": ["verb", "tm"],
    		"sp": ["verb", "sp"],
    	};    	

    	//reverses the keys and values in the dictionary, assuming that values are unique
    	function reverseDictionary(dictionary) {
    		var reversed = {};
    		for (var key in dictionary) {
			  if (dictionary.hasOwnProperty(key)) {
			    var value = String(dictionary[key]);
			    reversed[value] = key;
			  }
			}

			return reversed;
    	}

    	//assigns the value value to the dictionary path keyPath in obj
    	function assign(obj, keyPath, value) {
		   lastKeyIndex = keyPath.length-1;
		   for (var i = 0; i < lastKeyIndex; ++ i) {
		     key = keyPath[i];
		     if (!(key in obj))
		       obj[key] = {}
		     obj = obj[key];
		   }
		   obj[keyPath[lastKeyIndex]] = value;
		}

		//gets the value from the dictionary path keyPath in obj
		function getValue(obj, keyPath) {
		   lastKeyIndex = keyPath.length-1;
		   for (var i = 0; i < lastKeyIndex; ++ i) {
		     key = keyPath[i];
		     if (!(key in obj))
		       obj[key] = {}
		     obj = obj[key];
		   }
		   return obj[keyPath[lastKeyIndex]];
		}

    	var dictionaryKeysToSentencePart = reverseDictionary(sentencePartToDictionaryKeys);

    	//sentences are of the format
    	//{"verb":{"vr":"penda","tm":"na","op":"","sp":"m"},"obj":"gari","subject":"Ninyi"}
    	function getCurrentSentenceDictionary(element) {
    		var dictionary = {};

    		/**
    		dictionary['obj'] = $("#object").val();
    		dictionary['subject'] = $("#subject").val();

    		dictionary['verb'] = {};
    		dictionary['verb']['vr'] = $("#verb-root").val();
    		dictionary['verb']['tm'] = $("#tense").val();
    		dictionary['verb']['sp'] = $("#subject-prefix").val();
    		*/

    		for (var key in sentencePartToDictionaryKeys) {
			  if (sentencePartToDictionaryKeys.hasOwnProperty(key)) {
			    var dictionary_path = sentencePartToDictionaryKeys[key];

			    var sentence_value = $(element).find("." + key).val()
				
				assign(dictionary, dictionary_path, sentence_value)			   
			  }
			}


    		return dictionary;
    	}

    	function setCurrentSentenceValues(dictionary, element) {
    		for (var key in dictionaryKeysToSentencePart) {
			  if (dictionaryKeysToSentencePart.hasOwnProperty(key)) {

			  	//the key is a path within the dictionary
			    var dictionary_path = key.split(",");

			    //the value is the name of an HTML object
			    var sentence_id = dictionaryKeysToSentencePart[key];
				
				var sentence_value = getValue(dictionary, dictionary_path);

				$(element).find("." + sentence_id).val(sentence_value);
			  }
			}
    	}

    	$(document).ready(function() {
    		setCurrentSentenceValues(sentence, "#body-container");

    		$.ajaxSetup({
				data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
			});

    		//whenever we change a sentence component, 
    		//we want to send the new sentence dictionary 
    		//as well as the name of the recently changed component

    		$(".component").on("change", function() {
    			var recentlyChanged = $(this).attr("id");
    			var currentSentenceHolder = $(this).closest(".sentenceHolder");

    			var currentSentence = getCurrentSentenceDictionary(currentSentenceHolder);

    			var params = {};
    			params['changed'] = JSON.stringify(recentlyChanged);
    			params['sentence'] = JSON.stringify(currentSentence);

    			$.ajax({
					type: "POST",
					url: "/lessonchange/",
					data: params,
					complete: function( response ) {
						console.log(response);		

						var updatedSentence = JSON.parse(response['responseText'])['sentence'];

						console.log(updatedSentence);

						setCurrentSentenceValues(updatedSentence, currentSentenceHolder);				
					}
				});
    		})
    	})
    </script>

  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Interactive Swahili Grammar</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Nithin Tumma and Neel Patel</a></li>
          </ul>

        </div>
      </div>
    </div>

    <div class="container sentenceHolder" id="body-container">
      <select class="form-control component subject">
      	{%for subject in all_sentences.subjects%}
      		<option value="{{subject}}">{{subject}}</option>        
      	{%endfor%}
      </select>

      <select class="form-control component sp" >
        {%for sp in all_sentences.verbs.sps%}
      		<option value="{{sp}}">{{sp}}</option>        
      	{%endfor%}
      </select>

      <select class="form-control component tm">
        {%for tm in all_sentences.verbs.tms%}
      		<option value="{{tm}}">{{tm}}</option>        
      	{%endfor%}
      </select>

      <select class="form-control component vr" >
        {%for vr in all_sentences.verbs.vrs%}
      		<option value="{{vr}}">{{vr}}</option>        
      	{%endfor%}
      </select>

      <select class="form-control component obj" >    
      	{%for object in all_sentences.objs%}
      		<option value="{{object}}">{{object}}</option>        
      	{%endfor%}    
      </select>
    </div>    
  </body>
</html>
