body {

}

.container {
	width: 100% !important;
}

#body-container {
	padding:10px;
	margin-top:64px;
}

.component {	
	display: inline-block;
	width: auto;
}

.componentHolder {	
	display: inline-block;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
}

.space {	
	display: inline-block;
	width: 20px;
}

.btn {
	padding-left: 6px !important;
	padding-right: 6px !important;
}

#addNewSentence {
	margin-top: 20px;
}

.buttonColumn {
	padding: 2px;
}

.sentenceHolderRow {
	width: 100%;
}
