body {

}

#body-container {
	padding:10px;
	margin-top:64px;
}

.component {	
	display: inline-block;
	width: auto;
	padding-right: 10px;
}

.space {	
	display: inline-block;
	width: 20px;
}

.btn {
	padding-left: 6px !important;
	padding-right: 6px !important;
}
