body {

}

.container {
	width: 100% !important;
}

#body-container {
	padding:10px;
	margin-top:64px;
}

.component {	
	display: inline-block;
	width: auto;
	padding-right: 10px;
}

.space {	
	display: inline-block;
	width: 20px;
}

.btn {
	padding-left: 6px !important;
	padding-right: 6px !important;
}

#settings {
	position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 20%;
    overflow-y: scroll; 
}

#interactive {
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 80%;
}